GROQ_API_KEY=
CEREBRAS_API_KEY=
OPENROUTER_API_KEY=
NVIDIA_API_KEY=
GEMINI_API_KEY=
OPENCODE_SERVER_PASSWORD=
HF_TOKEN=
GITHUB_TOKEN=
SAMBANOVA_API_KEY=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_WORKERS_AI_BASE_URL=https://api.cloudflare.com/client/v4/accounts/your_account_id/ai
IFLOW_API_KEY=
AIHUBMIX_API_KEY=
OPENAI_API_KEY=
OPENAI_RESPONSES_BASE_URL=https://api.openai.com/v1
ANTHROPIC_API_KEY=
XAI_API_KEY=
KIMI_API_KEY=
FREE_AI_ROUTER_CONFIG=config.json
